body {
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: auto;
}

.navbar {
  border-radius: 0;
}

.loader {
  margin: auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
  animation-name: spin-1;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
/*     animation: spin 2s linear infinite; */
}
.loader-s {
  margin: auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
  animation-name: spin-1;
  animation-duration:2s;
  animation-direction:reverse;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
/*     animation: spin 2s linear infinite; */
}

.spinner {
  margin: auto;
  border: 60px solid white;
  border-right: 60px solid #51b5e3;
  border-left: 60px solid #51b5e3;
  width:0px;
  border-radius:50%;
  animation: spin-2 0.75s linear infinite;
}

.spinner-fly {
  position:relative;
  top:0px;
  left:0px;
  border: 60px solid transparent;
  border-left: 60px solid #51b5e3;
  border-right: 60px solid #ea8b49;
  border-radius:8px;
  width:0px;
  margin: auto;
  animation: spinfly-3 0.1s infinite alternate,move 5s infinite;
}

.spinner-4{
  position: relative;
  margin: auto;
  margin-top: 10px;
  width:80px;
  height:80px;
  border: 4px solid #f3f3f3;
  border-radius:50%;
  border-top: 4px solid green;
  animation: spin-4 2s linear infinite;
}

.outer-4 {
  height: 100px;
}

.outer-5 {
  height: 120px;
}

.spinner-5{
  margin: auto;
  border-radius:50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid ;
  padding: 1px;
  animation: spin-5 2s linear infinite;
}

#spin51 {
  width:80px;
  height:80px;
  border-top: 4px solid red;
}
#spin52 {
  width:70px;
  height:70px;
  border-top: 4px solid blue;
}
#spin53 {
  width:60px;
  height:60px;
  border-top: 4px solid green;
}


@-webkit-keyframes spin-1 {
  0% { -webkit-transform: rotate(0deg); }
  25%{ -webkit-transform: rotate(90deg); border-bottom: 10px solid red;}
  75%{ -webkit-transform: rotate(270deg); border-top: 10px solid red;}
  100% { -webkit-transform: rotate(360deg); }
}



@-webkit-keyframes spin-2 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spinfly-3 {
  0% { -webkit-transform: rotateX(0deg); }
  100% { -webkit-transform: rotateX(360deg); }
}

@-webkit-keyframes move {
  25% {
    top:25px;
    left:25px;
  }
  50% {
    top:35px;
    left:0px;
  }
  75%{
    top:25px;
    left:25px;
  }
  100%{
    top:0;
    left:0;
  }
}

@-webkit-keyframes spin-4{

  0%{-webkit-transform: rotate(0deg);}
   25%{-webkit-transform: rotate(90deg); width:40px; height:40px;}
   50%{-webkit-transform: rotate(180deg); width:0px; height:0px}
   75%{-webkit-transform: rotate(270deg); width:40px; height:40px}
  100%{-webkit-transform: rotate(360deg); width:80px; height:80px;}
}

@-webkit-keyframes spin-5{
  0%{-webkit-transform: rotate(0deg);}
   25%{-webkit-transform: rotate(90deg); }
   50%{-webkit-transform: rotate(180deg); }
   75%{-webkit-transform: rotate(270deg); }
  100%{-webkit-transform: rotate(360deg); }
}